
/* Change default Scrollbar */
::-webkit-scrollbar {
    height: 8px;
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f7f7f7;
}
::-webkit-scrollbar-thumb {
    background: #dddddd;
}
::-webkit-scrollbar-thumb:hover {
    background: #dddddd;
}


/* Create animation for changing views */
.router-view-enter-active {
    animation: zoomIn 0.2s;
}
.router-view-leave-active {
    animation: zoomOut 0.2s;
}

/* Get/Assign Baloise fonts */
@font-face{
    font-family: 'MetaPro Normal';
    src: url(/* webpackPrefetch: true */'../fonts/MetaStd-Normal.ttf') format("truetype");
}
@font-face{
    font-family: 'MetaPro Medium';
    src: url(/* webpackPrefetch: true */'../fonts/MetaStd-Medium.ttf') format("truetype");
}

/* Set type, size & color of fonts */
* {
    font-family: 'MetaPro Normal', sans-serif;
    font-size: 15px !important;
}
.theme--light.v-list, .theme--light.v-list.v-icon {
    color: #444 !important;
}
.v-btn {
    font-family: 'MetaPro Medium', sans-serif !important;
    font-weight: 700 !important;
    font-size: 14px !important;
}
.v-icon {
    font-size: 24px !important;
}
.display-1, .display-2, .display-3, .display-4, .headline, .title, .body-1 {
    font-family: 'MetaPro Medium', sans-serif !important;
}
.body-2 {
    font-family: 'MetaPro Normal', sans-serif !important;
}
.caption {
    font-family: 'MetaPro Normal', sans-serif !important;
    font-size: 13px !important;
    line-height: 19px !important;
}
.display-1, .display-2, .display-3, .display-4 {
    font-size: 44px !important;
    line-height: 50px !important;
}
.headline {
    font-size: 32px !important;
    line-height: 40px !important;
}
.title {
    font-size: 22px !important;
    line-height: 28px !important;
}
.body-1, .body-2 {
    font-size: 15px !important;
    line-height: 26px !important;
    font-weight: normal !important;
}

/* Define default fade transition/animation */
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

/* Define spinning-loader for buttons etc */
.spinning-loader {
    animation: loader 1s infinite;
    display: flex;
}
@-moz-keyframes loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
@-o-keyframes loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
