::-webkit-scrollbar {
    height: 8px;
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f7f7f7;
}
::-webkit-scrollbar-thumb {
    background: #dddddd;
}
::-webkit-scrollbar-thumb:hover {
    background: #dddddd;
}


@font-face{
    font-family: 'MetaPro Normal';
    src: url('../fonts/meta/Normal.ttf') format("truetype");
}
@font-face{
    font-family: 'MetaPro Light';
    src: url('../fonts/meta/Light.ttf') format("truetype");
}
@font-face{
    font-family: 'MetaPro Medium';
    src: url('../fonts/meta/Medium.ttf') format("truetype");
}


* {
    font-family: 'MetaPro Normal', sans-serif;
}
.display-1, .display-2, .display-3, .display-4, .headline, .title, .body-1 {
    font-family: 'MetaPro Medium', sans-serif !important;
}
.body-2 {
    font-family: 'MetaPro Normal', sans-serif !important;
}
.caption {
    font-family: 'MetaPro Light', sans-serif !important;
    font-size: 15px !important;
}
.display-1, .display-2, .display-3, .display-4 {
    font-size: 44px !important;
    line-height: 50px !important;
}
.headline {
    font-size: 32px !important;
    line-height: 40px !important;
}
.title {
    font-size: 22px !important;
    line-height: 28px !important;
}
.body-1, .body-2 {
    font-size: 18px !important;
    line-height: 26px !important;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}


.spinning-loader {
    animation: loader 1s infinite;
    display: flex;
}
@-moz-keyframes loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
@-o-keyframes loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
